<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Phone no:</b>
  <%= @guest.phone_no %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', events_path %>
